@import url(root.css);


#about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me{
    text-align: center;
    margin-top: 2vh;
    font-size: 2rem;
}


#skill-div{
    display: flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
    justify-content: space-between;
    width: 80%;
    font-size: 1rem;
}

#skill-div hr{
    border: 2px solid var(--primary);
}

.skill{
    flex: 1 1 0px;
    padding-top: 2vh;
}

.skill h2{
    align-self: center;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none	;
    padding-bottom: 3vh;
    text-align: center;
    font-size: 2.2rem;
}

.skill-element{
    font-size: 1.6rem;
    padding: 2vh 30px 4vh 30px;
    overflow-wrap: anywhere;
    text-align: start;

}

.skill-element h3{
    font-size: 1.7rem;
}

