@import url(root.css);


#about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vh;
    font-size: 2rem;
}

#about-me-text h1{
    padding: 3vh;
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
}

#about-me-text p{
    font-weight: bold;
    font-size: 2rem;
}

#skill-div{
    display: flex;
    margin-top: 5vh;
    justify-content: space-between;
    width: 80%;
    font-size: 1.5rem;
}

#skill-div hr{
    border: 2px solid var(--primary);
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2vh;
    height: 50vh;
    width: 100%;
}

.skill h2{
    align-self: center;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none	;
    padding-bottom: 3vh;
}

.skill-element{
    font-size: 1.6rem;
    padding: 2vh 30px 4vh 30px;
}

.skill-element h3{
    font-size: 1.7rem;
}
