@import url(root.css);

nav{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--bg);
}




.mobile{
    display: none;
}


#hamburger-menu > summary{
    list-style: none;
    cursor: pointer;
}

details[open] #hamburger-menu-icon{
    rotate: 90deg;
}


details[open] summary ~ * {
    animation: sweep 1s ease-in-out;
  }
  
  

#mobile-nav-items{
    position: absolute;
    text-align: end;
    gap: 1rem;
    background-color: var(--bg);
    left: 0;
    right: 0;
    opacity: 0.9;
    padding-right: 10%;
    padding-bottom: 3vh;
}


#hamburger-menu-icon{
    width: 70px;
}

#hamburger-menu-icon:hover{
    animation: rotate-menu .3s;
}

.pc{
    display: flex;
}

.nav-base{
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    width: 80%;
    animation-name: fade-in;
    animation-duration: 1.5s;
}

#nav-logo{
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    margin-right: 20px;
}

#nav-logo-img{
    height: 50px;
    width: 50px;
}

.pc #nav-items{
    display: flex;
    justify-content: space-evenly;
    gap: 2.75rem;
}

.nav-item{
    font-size: 1.35rem;
}


.nav-base a:hover{
    color: var(--primary);
    transition: color 0.3s;   
}

@keyframes rotate-menu {
    0%{rotate: 0deg;}
    100%{rotate: 90deg;}
}

@keyframes sweep {
    0%    {opacity: 0; transform: translateY(-50px);}
    100%  {opacity: 0.9; transform: translateY(0);}
  }