@import url(root.css);

#projects{
    background-color: var(--bg-secondary);
}

#projects-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2vh;
    font-size: 2rem;
}

#projects-text h1{
    padding: 3vh;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
}

#projects-text p{
    font-weight: bold;
    font-size: 2rem;
}

.projects-div{
    padding: 3% 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(24.5rem, 100%), 1fr));
    gap: 2% 4%;
    justify-content: center;
}

.project_card{
    display: grid;
    border: 2px solid var(--primary);
    max-height: 50vh;
    overflow-y: scroll;

}


.project_card_content{
    padding: 1.5rem;
}

.project_card img{
    justify-self: center;
    height: 20vh;
    padding: 1% 3%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

